* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-color: #9C9C9C;
    height:40px;
}

.slider {
    display: flex;
    justify-content:center;
    
}

.slider_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width:900px;
    overflow: hidden;
    margin-top: 30px;
}

.slider_width {
    height: 500px;
    width: 2700px;
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.slider_item {
    height:500px;
    width: 900px;
    background-position: center;
    background-size: cover;
}

.slider_controls {
    display: flex;
    align-items: center;
    justify-content:space-between;
    position:absolute;
    z-index: 99;
    width: 900px;
}

.slider_control {
    color:#ffffff8a;
    font-size: 40px;
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;   
}

.slider_control:hover {
    color:#FFFFFF;
}